@use '../global' as *;

#main-container {
	flex: 1;
	width: 80vw;
	height: auto;
	background-color: #ebebeb;
	border-radius: 10px 0 0 0;
	color: $background-color;
	padding: 1rem;
	overflow: hidden;
	box-shadow: -5px 0px 10px -5px #868686;

	.main-label {
		color: #868686;
	}

	.tasks-container {
		@include flex(row, none, none);
		gap: 1rem;
		.task-card {
			@include flex(column, none, none);
			box-shadow: -5px 0px 10px -6px #868686;
			width: 220px;
			gap: .2rem;
			padding: 1rem;
			border-radius: 10px;
			background-color: #f5f5f5;	
			 
			&:hover {
				background-color: #ffffff;
				transform: scale(1.04);
			}
			.task-name {
				color: #a4a4a4;
				font-weight: 600;
				@include text-truncate();
				font-size: $font-size-subheading*.7;
			}
		}
		
	}
}