@use '../global' as *;

#main-container {
  flex: 1;
  width: 80vw;
  height: auto;
  background-color: #ebebeb;
  border-radius: 10px 0 0 0;
  color: $background-color;
  padding: 1rem;
  overflow: hidden;
  box-shadow: -5px 0 10px -5px #868686;

  .main-label {
    color: #868686;
  }

  .tasks-container {
    @include flex(row, none, flex-start);
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;

    .task-card {
      @include flex(column, none, none);
      box-shadow: -5px 0 10px -6px #868686;
      width: 220px;
      height: auto;
      gap: 0.2rem;
      padding: 1rem;
      border-radius: 10px;
      background-color: #f5f5f5;

      &:hover {
        background-color: #ffffff;
        transform: scale(1.04);
      }

      .task-upper {
        @include flex(row, space-between, center);

        .task-name {
          color: #a4a4a4;
          font-weight: 600;
          @include text-truncate();
          font-size: $font-size-small;
        }

        .task-chevron {
          transform: rotate(180deg);
          transition: transform 0.3s ease;
		  cursor: pointer;
        }

        .task-chevron.expanded {
          transform: rotate(0deg);
		  cursor: pointer;
        }
      }

	  .task-middle {
		.task-description,
		.task-date,
		.task-priority {
			font-size: $font-size-small;
		}
			.task-priority-Low {
			color: #00ff7b;
			}

			.task-priority-Medium {
			color: #ffcc00;
			}

			.task-priority-High {
			color: #ff0000;
			}
    }

      .task-lower {
        @include flex(row, flex-end, center);

		.cancel-btn {
			&:hover {
				color: #ff0000;
			}
		}
        .check-btn {
          &:hover {
            color: #00ff7b;
          }
        }
      }
    }
  }

  .task-card {
    .task-description,
    .task-date,
    .task-priority {
      display: none;
    }

    .task-description.expanded,
    .task-date.expanded,
    .task-priority.expanded {
      display: block;
    }
  }
}