@use '../global.scss' as *;

#modalTask {
	padding: 1rem;
	background-color: blue;
	color: white;
	margin: auto;
	border-radius: 15px;
	border: none;
	

	.modal-form {
		@include flex(column, flex-start, none);
		gap: .5rem;

		.modal-upper {
			@include flex(row, space-between, column);

			.cancel-task-btn {
				cursor: pointer;
				&:hover {
					color: red;
				}
			}
		}
	
		.modal-middle {
			@include flex(column, flex-start, none);
		}
	
		.modal-lower {
			@include flex(row, space-between, none);
			gap: .2rem;
	
			.add-task-btn {
				flex: 1;
			}
		}
	}


}