@use '../global.scss' as *;

// Common styles shared between #modalTask and #modalLabel
@mixin modal-common-styles($width: auto) {
	padding: 1rem;
	background-color: rgb(209, 209, 209);
	color: rgb(0, 0, 0);
	margin: auto;
	border-radius: 15px;
	border: 1px solid rgb(150, 150, 150);
	box-shadow: -5px 0 10px -6px #868686;
	width: $width;

	// General form styling for modals
	.modal-form {
		@include flex(column, flex-start, none);
		gap: 0.5rem;

		.modal-upper {
			@include flex(row, space-between, center);

			.cancel-task-btn,
			.cancel-label-btn {
				cursor: pointer;
				&:hover {
					color: red;
				}
			}
		}

		.modal-middle {
			@include flex(column, flex-start, none);
		}

		.modal-lower {
			@include flex(row, space-between, none);
			gap: 0.2rem;

			.add-task-btn,
			.add-label-btn {
				flex: 1;
			}
		}
	}
}

#modalTask {
	@include modal-common-styles(25%);

	.task-modal-form {
		@include flex(column, flex-start, none);
		gap: 0.5rem;

		.modal-upper {
			@include flex(row, space-between, center);

			.cancel-task-btn {
				cursor: pointer;
				&:hover {
					color: red;
				}
			}
		}

		.modal-middle {
			@include flex(column, flex-start, none);
		}

		.modal-lower {
			@include flex(row, space-between, none);
			gap: 0.2rem;

			.add-task-btn {
				flex: 1;
			}
		}
	}
}

#modalLabel {
	@include modal-common-styles(25%);

	.label-modal-form {
		@include flex(column, flex-start, none);
		gap: 0.5rem;

		.modal-upper {
			@include flex(row, space-between, center);

			.cancel-label-btn {
				cursor: pointer;
				&:hover {
					color: red;
				}
			}
		}

		.modal-middle {
			@include flex(column, flex-start, none);
		}

		.modal-lower {
			@include flex(row, space-between, none);
			gap: 0.2rem;

			.add-label-btn {
				flex: 1;
			}
		}
	}
}