/*!****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/style.scss ***!
  \****************************************************************************************************************/
.noto-sans-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #bbbbbb;
  margin: 2rem 1rem;
  color: #1f1f1f;
  overflow: hidden;
  font-family: "Noto Sans JP", sans-serif;
}

#app {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: none;
  height: 100vh;
  width: 100vw;
  gap: 0.6rem;
}

#modalTask {
  padding: 1rem;
  background-color: rgb(209, 209, 209);
  color: rgb(0, 0, 0);
  margin: auto;
  border-radius: 15px;
  border: 1px solid rgb(150, 150, 150);
  box-shadow: -5px 0 10px -6px #868686;
  width: 25%;
}
#modalTask .modal-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: none;
  gap: 0.5rem;
}
#modalTask .modal-form .modal-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#modalTask .modal-form .modal-upper .cancel-task-btn,
#modalTask .modal-form .modal-upper .cancel-label-btn {
  cursor: pointer;
}
#modalTask .modal-form .modal-upper .cancel-task-btn:hover,
#modalTask .modal-form .modal-upper .cancel-label-btn:hover {
  color: red;
}
#modalTask .modal-form .modal-middle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: none;
}
#modalTask .modal-form .modal-lower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  gap: 0.2rem;
}
#modalTask .modal-form .modal-lower .add-task-btn,
#modalTask .modal-form .modal-lower .add-label-btn {
  flex: 1;
}
#modalTask .task-modal-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: none;
  gap: 0.5rem;
}
#modalTask .task-modal-form .modal-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#modalTask .task-modal-form .modal-upper .cancel-task-btn {
  cursor: pointer;
}
#modalTask .task-modal-form .modal-upper .cancel-task-btn:hover {
  color: red;
}
#modalTask .task-modal-form .modal-middle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: none;
}
#modalTask .task-modal-form .modal-lower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  gap: 0.2rem;
}
#modalTask .task-modal-form .modal-lower .add-task-btn {
  flex: 1;
}

#modalLabel {
  padding: 1rem;
  background-color: rgb(209, 209, 209);
  color: rgb(0, 0, 0);
  margin: auto;
  border-radius: 15px;
  border: 1px solid rgb(150, 150, 150);
  box-shadow: -5px 0 10px -6px #868686;
  width: 25%;
}
#modalLabel .modal-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: none;
  gap: 0.5rem;
}
#modalLabel .modal-form .modal-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#modalLabel .modal-form .modal-upper .cancel-task-btn,
#modalLabel .modal-form .modal-upper .cancel-label-btn {
  cursor: pointer;
}
#modalLabel .modal-form .modal-upper .cancel-task-btn:hover,
#modalLabel .modal-form .modal-upper .cancel-label-btn:hover {
  color: red;
}
#modalLabel .modal-form .modal-middle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: none;
}
#modalLabel .modal-form .modal-lower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  gap: 0.2rem;
}
#modalLabel .modal-form .modal-lower .add-task-btn,
#modalLabel .modal-form .modal-lower .add-label-btn {
  flex: 1;
}
#modalLabel .label-modal-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: none;
  gap: 0.5rem;
}
#modalLabel .label-modal-form .modal-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#modalLabel .label-modal-form .modal-upper .cancel-label-btn {
  cursor: pointer;
}
#modalLabel .label-modal-form .modal-upper .cancel-label-btn:hover {
  color: red;
}
#modalLabel .label-modal-form .modal-middle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: none;
}
#modalLabel .label-modal-form .modal-lower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  gap: 0.2rem;
}
#modalLabel .label-modal-form .modal-lower .add-label-btn {
  flex: 1;
}

#header-container {
  width: 15vw;
}
#header-container .header-account-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
}
#header-container .header-account-wrapper .header-account-portrait {
  height: 34px;
  width: 34px;
  border-radius: 25%;
}
#header-container .header-account-wrapper .header-account-info {
  font-size: 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#header-container .header-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding-top: 0.5rem;
}
#header-container .header-nav .task-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  background-color: #dfdbd3;
  border: none;
  width: 100%;
  cursor: pointer;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
#header-container .header-nav .task-button:hover {
  background-color: white;
  scale: 1.04;
}
#header-container .header-nav .header-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
}
#header-container .header-nav .header-nav-list .nav-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  width: 100%;
}
#header-container .header-nav .header-nav-list .nav-item .remove-btn {
  display: none;
}
#header-container .header-nav .header-nav-list .nav-item:hover {
  color: white;
}
#header-container .header-nav .header-nav-list .nav-item:hover .remove-btn {
  display: block;
  color: rgb(118, 1, 1);
  cursor: pointer;
}
#header-container .header-nav .header-nav-list .active {
  color: white !important;
}
#header-container .header-nav .header-nav-list .nav-divider {
  height: 1px;
  width: 100%;
  background-color: #bbbbbb;
}
#header-container .header-nav .label-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  background-color: #bbbbbb;
  border: none;
  width: 100%;
  cursor: pointer;
}
#header-container .header-nav .label-button:hover {
  background-color: white;
  scale: 1.04;
}

#main-container {
  flex: 1;
  width: 80vw;
  height: auto;
  background-color: #ebebeb;
  border-radius: 10px 0 0 0;
  color: #bbbbbb;
  padding: 1rem;
  overflow: hidden;
  box-shadow: -5px 0 10px -5px #868686;
  overflow: scroll;
}
#main-container .label-title {
  color: #bbbbbb;
  padding-left: 0.5rem;
}
#main-container .tasks-container {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem;
}
#main-container .tasks-container .task-card {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  box-shadow: -5px 0 10px -6px #868686;
  width: 220px;
  height: auto;
  gap: 0.2rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: #f5f5f5;
}
#main-container .tasks-container .task-card:hover {
  background-color: #ffffff;
  transform: scale(1.04);
}
#main-container .tasks-container .task-card .task-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#main-container .tasks-container .task-card .task-upper .task-name {
  color: #a4a4a4;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.75rem;
}
#main-container .tasks-container .task-card .task-upper .task-chevron {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
  cursor: pointer;
}
#main-container .tasks-container .task-card .task-upper .task-chevron.expanded {
  transform: rotate(0deg);
  cursor: pointer;
}
#main-container .tasks-container .task-card .task-middle .task-description,
#main-container .tasks-container .task-card .task-middle .task-date,
#main-container .tasks-container .task-card .task-middle .task-priority {
  font-size: 0.75rem;
}
#main-container .tasks-container .task-card .task-middle .task-priority-Low {
  color: #00ff7b;
}
#main-container .tasks-container .task-card .task-middle .task-priority-Medium {
  color: #ffcc00;
}
#main-container .tasks-container .task-card .task-middle .task-priority-High {
  color: #ff0000;
}
#main-container .tasks-container .task-card .task-lower {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#main-container .tasks-container .task-card .task-lower .cancel-btn:hover {
  color: #ff0000;
}
#main-container .tasks-container .task-card .task-lower .check-btn:hover {
  color: #00ff7b;
}
#main-container .task-card .task-description,
#main-container .task-card .task-date,
#main-container .task-card .task-priority {
  display: none;
}
#main-container .task-card .task-description.expanded,
#main-container .task-card .task-date.expanded,
#main-container .task-card .task-priority.expanded {
  display: block;
}
